# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'jenkins_exporter/defaults.yml' as defaults %}

{## Add any overrides based on CPU architecture. ##}
{% set defaults = salt['grains.filter_by']({
    'Debian': {
        "pip_package": 'python-pip'
    },
    'RedHat': {
        "pip_package": 'python2-pip'
    }
  }
  , grain="os_family"
  , default="Redhat"
  , merge=defaults.jenkins_exporter)
%}

{## Merge user configuration from in node_exporter:* pillar ##}
{% set jenkins_exporter = salt['pillar.get']('jenkins_exporter', default=defaults, merge=True) %}
